* {margin: 0; padding: 0; border :0}
html, body {height: 100%; overflow-y: hidden;}
#root {height: 100%; overflow-y: hidden;}
.page {display: flex; flex-flow: column nowrap; height:100%; overflow-y: hidden;}
.header {
  background-color: blanchedalmond; min-height: 40px; padding: 20px;
}
.content {background-color: cadetblue; height: 100%; overflow-y: auto;
}
.footer{
  background-color: blanchedalmond; min-height: 40px;
}
