:root{
    --mategreen: #007548;
    --mateblue: #005f92;
    --matedarkgreen: #007548;
    --matelightgreen: #38AC55;
}

html, body{
    height: 100%;
    margin: 0;
}

#root{
    height: 100%;
}

.keret{
    background-color:#f2f2f2;
    height: 100%;
}

.lablec{
    background-color: var(--mategreen);
    width: 100%;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}

.fejlec{
    background-color: var(--mategreen);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.fejlecElem{
    width: 240px;
}

.kereso{
    width: 400px;
    background-color: var(--mateblue);
    border: 4px solid white;
    margin: auto;
}

.keresoFejlec{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid white;
}

.keresoTartalom{
    padding: 10px;
}

.zaszlok{
    float: right;
}

.zaszlo{
    height: 40px;
    border: 3px solid white;
}

.tartalom{
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color:#f2f2f2;
}

.tartalom2{
    height: 100%;
    overflow-y: auto;
}

.kartyak{
    padding: 10px;  
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, 420px);
    justify-content: center;
    overflow-y: hidden;
}

.kartya{
    width: 420px;
    height: fit-content;
    border: 4px solid var(--mateblue);
    padding: 10px;
    margin: 10px 0px 0px 10px;
    background-color: white;
}

.kartyaNev{
    background-color: var(--mategreen);
    color: white;
    width: fit-content;
    position: relative;
    margin-top: -25px;
    margin-left: -25px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.kartyaTartalom{
    padding-top: 10px;
    font-size: 15px;
    color: #50575A;
}

.kartyaBal{
    width: 132px;
    text-align: right;
    vertical-align: top;
    font-weight: 700;
}

.kartyaJobb{
    padding-left: 10px;
    vertical-align: top;
    font-weight: 500;
}

td{
    border-bottom: 3px solid white;
}

.cim{
    font-family: "Century Gothic";
    font-size: 34px;
    margin-top: -10px;
    margin-left: 10px;
}
