.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}